{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                },
                "debug": true,
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": [
        [ "transform-object-rest-spread", { "useBuiltIns": true } ]
    ]
}
